%div.container.container-1#banner
  %div.row-fluid
    %div.corner-padded
      %span.span3
        %div.well
          %ul.nav.nav-list
            %li
              %a{:href =>"#"} Available for Hire
            %li
              %a{:href =>"#"} Available to Mentor
            %li
              %a{:href =>"#"} Seeking Developers
            %li
              %a{:href =>"#"} Seeking CoFounders     
      %span.span9
        %ul.breadcrumb
          %li
            %a{:href =>"#"}
              .icon.icon-home
          %li
            %a{:href =>"#"} Alumni
          / %li
          /   %a{:href =>"#"} Mentors
          / %li
          /   %a{:href =>"#"} Hiring Partners 
        %div#map_canvas
        %div.tabs
          %div.tab
            %input#tab-1{:checked => "", :name => "tab-group-1", :type => "radio"}/
            %label{:for => "tab-1"} Search by location
            .content
              %form{:style => "height:25px"}
                %div{:style => "margin:0; padding:0; display:inline"}
                  %select{:style => "width: 150px"}
                    %option{:value=>"Alumni"}Alumni
                    %option{:value=>"Mentors"}Mentors
                    %option{:value=>"Hiring Partners"}Hiring Partners 
                  %strong within
                  %select{:style => "width: 50px"}
                    %option{:value=>"10"}10
                    %option{:value=>"50"}50
                    %option{:value=>"100"}100
                    %option{:value=>"250"}250
                    %option{:value=>"500"}500
                    %option{:value=>"1000"}1000  
                  %strong miles of
                  %input{:style=>"margin-top: -6px", :placeholder => "Austin, Texas 78701"}
                  %button.btn.btn-custom Search
          %div.tab
            %input#tab-2{:name => "", :name => "tab-group-1", :type => "radio"}/
            %label{:for => "tab-2"} Search by name
            .content
              %form{:style => "height:25px"}
                %div{:style => "margin:0; padding:0; display:inline"}
                  %input{:style=>"margin-top: 1px", :placeholder => "Name"}
                  %button.btn.btn-custom{:style=>"margin-top: 1px"} Search
                  // put .results and display table into a partial template called search results
                  // render search results (does the same function)
                  // make only this bottom section fetchable via javascript
        .results
          %strong 2 people
          within
          %strong 2 miles.
        %div.display_table
          %table
            %thead
              %tr{:style => "color: #34495e;"}
                %th 
                %th Name
                %th City
                %th State
                %th Cohort
            %tbody   
              - if @students
                - @students.each do |student|
                  - profile = Linkedin::Profile.get_profile(student.linkedin)
                  %tr
                    %td#display_table_image
                      - if (profile)
                        %div.linkedin-img
                          = link_to image_tag(profile.picture, class: "shadow"), student
                    %td
                      = link_to "#{student.first_name} #{student.last_name}", student  
                    %td
                      = student.city
                    %td
                      = student.state_province
                    %td
                      = student.cohort
                  %br
        .results#bottom
          %strong 2 people
          within
          %strong 2 miles.        
.container#maincontainer
  .content#maincontent
    .row#mainrow



























