- profile = Linkedin::Profile.get_profile(@student.linkedin)

.container.container-1
  .row-fluid
    .span12
      .div-2
        .well.div-1.div-3
          %h1.heading Alumni Profile
        .well.div-1.div-4
          - if (profile)
            %img.pull-left.image{:src => profile.picture}
          .badge.badge-info.pull-right 1st
          .hero-unit
            %h2.heading.heading-1
              = @student.first_name 
              = @student.last_name
            %p
              = profile.current_companies[0][:current_title]
            %p &nbsp;
            %div.btns
              %a.btn.btn-primary.pull-left{:href =>"#"}Add me to your network
            %h1.heading
          %p.p-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis quam at justo condimentum condimentum. Fusce arcu felis, fringilla nec varius a, rhoncus a libero. Donec ut ligula vitae leo pellentesque varius.
          %table.table
            %tbody
              %tr
                %td
                  %strong Cohort
                %td 
                  = @student.cohort
              %tr
                %td
                  %strong Email
                %td
                  %a{:href=> "mailto:#{@student.user.email}"}= @student.user.email
              %tr
                %td
                  %strong Mobile
                %td
                  - if (@student.phone_number) 
                    = number_to_phone(@student.phone_number, area_code: true) 
              %tr
                %td
                  %strong City
                %td 
                  - if (@student.city)  
                    = @student.city + ","
          
                  - if (@student.state_province)
                    = @student.state_province       
          .well.no-hover
            -if (@student.blog)
              %a{:href => @student.blog}
                .icon.icon-rss
            -if (@student.github)
              %a{:href => @student.github}
                .icon.icon-github
            -if (@student.linkedin)
              %a{:href => @student.linkedin}
                .icon.icon-linkedin-sign
            -if (@student.twitter_handle)
              %a{:href=> "http://www.twitter.com/#{@student.twitter_handle}"}
                .icon.icon-twitter-sign


/ .container#maincontainer
/   .content#maincontent
/     .row#mainrow
/       .span12#mainspan
/         %div.cohort
/           %h2
/             MakerSquare
/             %br
/             = @student.cohort

/         %div.float-left
/           - if (profile)
/             %div.linkedin-img
/               %img.shadow{:src => profile.picture}
/           %div.float-right
/             %h3
/               = @student.first_name 
/               = @student.last_name

/             - if (profile)  
/               - if (profile.current_companies)
/                 %h4= profile.current_companies[0][:current_title]
/                 %h5
/                   = profile.current_companies[0][:current_company]
/                   %br
/                   %a{:href=> "#{profile.current_companies[0][:website]}"}= profile.current_companies[0][:website] 

/         %table.table.table-striped
/           %tr
/             %td Phone:
/             %td
/               %i.icon-bullhorn
/               - if (@student.phone_number) 
/                 = number_to_phone(@student.phone_number, area_code: true) 

/           %tr
/             %td Email:
/             %td
/               %i.icon-envelope
/               %a{:href=> "mailto:#{@student.user.email}"}= @student.user.email

/           %tr
/             %td Address:
/             %td
/               %i.icon-home
/               - if (@student.address_1) 
/                 = @student.address_1
/                 %br

/               %i.icon-address
/               - if (@student.address_2)
/                 = @student.address_2
/                 %br

/               %i.icon-address
/               - if (@student.city)  
/                 = @student.city + ","
          
/               - if (@student.state_province)
/                 = @student.state_province      

/               - if (@student.postal_code) 
/                 = @student.postal_code 

/               %i.icon-address
/               -if (@student.country)
/                 %br
/                 = @student.country         

/           %tr
/             %td Twitter: 
/             %td
/               %i.icon-retweet
/               -if (@student.twitter_handle)
/                 %a{:href=> "http://www.twitter.com/#{@student.twitter_handle}"}= "@" + @student.twitter_handle

/           %tr
/             %td Github:
/             %td
/               %i.icon-github
/               -if (@student.github)
/                 %a{:href=> "#{@student.github}"}= @student.github
/           %tr
/             %td Blog: 
/             %td
/               %i.icon-file
/               -if (@student.blog)
/                 %a{:href=> "#{@student.blog}"}= @student.blog

/           %tr
/             %td Website:    
/             %td
/               %i.icon-user
/               -if (@student.personal_website)
/                 %a{:href=> "#{@student.personal_website}"}= @student.personal_website 

/           %tr
/             %td Mentor:   
/             %td
/               %i.icon-mentor
/               -if (@student.mentor)
/                 -if (@student.mentor) == 'looking'
/                   I'm looking for a mentor
/                 - elsif (@student.mentor) == 'mentor'
/                   I'm a mentor
/                 - else
/                   I'm a mentee

/           %tr
/             %td Job Status:  
/             %td
/               %i.icon-job
/               -if (@student.job_status)
/                 -if (@student.job_status) == 'looking'
/                   I'm looking for a job
/                 - elsif (@student.job_status) == 'offers'
/                   I'm open to offers
/                 - else
/                   I'm insanely happy with my job

/           %tr
/             %td Entrepreneur: 
/             %td
/               %i.icon-entrepreneur
/               -if (@student.entrepreneur)
/                 -if (@student.entrepreneur) == 'startup'
/                   I'm starting a business
/                 - elsif (@student.entrepreneur) == 'cofounders'
/                   I'm looking for cofounders
/                 -elsif (@student.entrepreneur) == 'hiring'
/                   My business is hiring
/                 - else
/                   I still work for the man

