.container.container-1
  .div.row-fluid
    .span12
      .div-2
        .well.div-1.div-3
          %h1#profile_heading Student Profile
        .well.div-1.div-4
          = image_tag (@student.user.gravatar, class: "pull-left")
          .badge.badge-info.pull-right 1st
          .hero-unit
            %h2.heading.heading-1
              = @student.user.name
            - unless @student.linkedin.empty? 
              %p
                = @student.linkedin.job_title
            %p &nbsp;
            - unless @student.linkedin.empty?
              %div.btns
                %a.btn.btn-custom.pull-left{:href => @student.linkedin}View Full Profile
            %h1.heading
          %span.badge.badge-info.interests
            = @student.developer_type
          -unless @student.job_status == 'not seeking'
            %span.badge.badge-info.interests
              = @student.job_status
          -unless @student.mentor == 'not interested'
            %span.badge.badge-info.interests
              = @student.mentor
          -unless @student.entrepreneur == 'not looking'
            %span.badge.badge-info.interests
              = @student.entrepreneur
          %br
          %br
          %table.table
            %tbody
              %tr
                %td
                  %strong Cohort
                %td 
                  = @student.cohort
              %tr
                %td
                  %strong Email
                %td
                  %a{:href=> "mailto:#{@student.user.email}"}= @student.user.email
              %tr
                %td
                  %strong Mobile
                %td
                  - unless @student.phone.nil? 
                    = number_to_phone(@student.phone, area_code: true) 
              %tr
                %td
                  %strong City
                %td 
                  - unless @student.city.empty? 
                    = @student.city + ","
          
                  - unless @student.state.empty? 
                    = @student.state      
          .well.no-hover
            - unless @student.blog.blank? 
              %a{:href => @student.blog}
                .icon.icon-rss
            - unless @student.github.blank? 
              %a{:href => @student.github}
                .icon.icon-github
            - unless @student.linkedin.blank?
              %a{:href => @student.linkedin}
                .icon.icon-linkedin-sign
            - unless @student.twitter.blank?
              %a{:href=> "http://www.twitter.com/#{@student.twitter}"}
                .icon.icon-twitter-sign
/ - if @profile
/   .span4#skills
/     .div-2
/       .well#well_header
/         %h1#profile_heading Skills & Expertise
/       .well#well_backdrop
/         %p.p-1
/         - @profile.skills.sort().each do |skill|
/           %span.badge.badge-info.skills
/             = skill