.results
  %strong 
    = @students.length
    - if @students.length > 1 || @students.length == 0
      = " people"
    - else
      = " person"
  within
  %strong 
    = @students.length 
  %strong miles.
  / params[:radius]

- if @students.length > 0
  %div.display_table
    %table
      %thead
        %tr{:style => "color: #34495e;"}
          %th 
          %th Name
          %th City
          %th State
          %th Cohort
      - @students.each do |student|
        %tbody  
          %tr
            %td#display_table_image
              - unless student.linkedin.empty?
                %div.linkedin-img
                  = link_to image_tag(@profiles[student.id].picture, class: "shadow"), student
            %td
              = link_to student.user.name, student  
            %td
              = student.city
            %td
              = student.state_province
            %td
              = student.cohort
- else
  %div.display_table
    %table
      %thead
        %tr{:style => "color: #34495e;"}
          %th{:width => "50px"}
          %th Oh no! We couldn't find anyone who matched your search. Better luck next time.

- if @students.length > 0
  .results#bottom
    %strong 
      = @students.length
      - if @students.length > 1 || @students.length == 0
        = " people"
      - else
        = " person"
    within
    %strong 2 miles.    