.results
  %strong 
    = @people.length
    - if @people.length > 1 || @people.length == 0
      = " people"
    - else
      = " person"
  within
  %strong 
    = @mentors.length 
  %strong miles.
  / params[:radius]

- if @people.length > 0
  %div.display_table
    %table
      %thead
        %tr{:style => "color: #34495e;"}
          %th 
          %th Name
          %th City
          %th State
      - @people.each do |person|
        %tbody  
          %tr
            %td#display_table_image
              %div.linkedin-img
                = link_to image_tag(person.linkedin_info.pic, class: "shadow"), person
            %td
              = link_to person.name, person  
            %td
              = person.city
            %td
              = person.state
- else
  %div.display_table
    %table
      %thead
        %tr{:style => "color: #34495e;"}
          %th{:width => "50px"}
          %th Oh no! We couldn't find anyone who matched your search. Better luck next time.

- if @people.length > 0
  .results#bottom
    %strong 
      = @people.length
      - if @people.length > 1 || @people.length == 0
        = " people"
      - else
        = " person"
    within
    %strong 
      = @mentors.length     
