%div.container.container-1#banner
  %div.row-fluid
    %div.corner-padded
      %span.span3
        %div.well
          %ul.nav.nav-list
            %li
              =link_to root_path do
                = image_tag("Student.png")
                Students
            %li
              =link_to root_path do
                = image_tag("Mentor.png")
                Mentors
            %li
              =link_to root_path do
                = image_tag("HiringPartner.png")
                Hiring Partners
            %li
              =link_to root_path do
                = image_tag("StaffMember.png")
                MakerSquare Staff
      %span.span9
        %ul.breadcrumb
          %li
            %a{:href =>"#"}
              .icon.icon-home
          %li
            %a{:href =>"#"} Profiles
        = render 'map'
        = render 'search_form'
        = render 'profiles_list'
.container#maincontainer
  .content#maincontent
    .row#mainrow