<p>
    <!-- This will be linkedin image or gravatar -->
    <img src="" width="160" height="160"/></p>

<h3><%= @student.first_name %> <%= @student.last_name %></h3>
<h4><%= @student.cohort %></h4>
<br>

        <table class="table table-striped">
            <tr>
                <td>Phone:</td>
                <td><i class="icon-bullhorn">
            <%
            if (@student.phone_number)
            {
            %>
                </i> <%= @student.phone_number %></td>
            <%
            }
            %>
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><i class="icon-envelope"></i> <a href="mailto:<%= @student.user.email %>"><%= @student.user.email %></a></td>
            </tr>

            <tr>
                <td>Address:</td>
                <td><i class="icon-home"></i>
                <%
                if (@student.address_1)
                {
                %>
                    <%= @student.address_1 %><br>         
                <%
                }
                %>
                <%
                if (@student.address_2)
                {
                %>
                    <%= @student.address_2 %><br>         
                <%
                }
                %>
                <%
                if (@student.city)
                {
                %>
                    <%= @student.city %>,         
                <%
                }
                %>
                 if (@student.state_province)
                {
                %>
                    <%= @student.state_province %>         
                <%
                }
                %>
                 if (@student.postal_code)
                {
                %>
                    &nbsp;<%= @student.postal_code %>         
                <%
                }
                %>
                if (@student.country)
                {
                %>
                    <br><%= @student.country %>         
                <%
                }
                %>
                    
                </td>
            </tr>
            <tr>
                <td>Twitter:</td>
                <td><i class="icon-retweet"></i> 
                if (@student.twitter_handle)
                {
                %>
                    <a href="http://www.twitter.com/<%= @student.twitter_handle %>"><%= @student.twitter_handle %></a>       
                <%
                }
                %>
                </td>
            </tr>
            <tr>
                <td>Github:</td>
                <td><i class="icon-github"></i> 
                if (@student.github)
                {
                %>
                    <a href="<%= @student.github %>"><%= @student.github %></a>       
                <%
                }
                %>
                </td>
            </tr>
            <tr>
                <td>Blog:</td>
                <td><i class="icon-blog"></i> 
                if (@student.blog)
                {
                %>
                    <a href="<%= @student.blog %>"><%= @student.blog %></a>       
                <%
                }
                %>
                </td>
            </tr>
            <tr>
                <td>Website:</td>
                <td><i class="icon-website"></i> 
                if (@student.website)
                {
                %>
                    <a href="<%= @student.website %>"><%= @student.website %></a>       
                <%
                }
                %>
                </td>
            </tr>
            <tr>
                <td>Website:</td>
                <td><i class="icon-website"></i> 
                if (@student.website)
                {
                %>
                    <a href="<%= @student.website %>"><%= @student.website %></a>       
                <%
                }
                %>
                </td>
            </tr>
            <tr>
                <td>Mentor:</td>
                <td><i class="icon-mentor"></i> 
                if (@student.mentor)
                {
                %>
                    <a href="<%= @student.mentor %>"><%= @student.website %></a>       
                <%
                }
                %>
                </td>
            </tr>
            <tr>
                <td>Job Status:</td>
                <td><i class="icon-job"></i> 
                if (@student.job_status)
                {
                %>
                    <a href="<%= @student.job_status %>"><%= @student.job_status %></a>    
                <%
                }
                %>
                </td>
            </tr>
            <tr>
                <td>Entrepreneur:</td>
                <td><i class="icon-entrepreneur"></i> 
                if (@student.entrepreneur)
                {
                %>
                    <a href="<%= @student.entrepreneur %>"><%= @student.entrepreneur %></a>    
                <%
                }
                %>
                </td>
            </tr>
        </table>

<!--         <div class="alert alert-warning">
          <h4 class="alert-heading">Warning</h4>
          The phone numbers, email addresses, and Twitter handlers are fake.
        </div>
 -->