.container.container-1
  .div.row-fluid
    .span12
      .div-2
        .well.div-1.div-3
          %h1#profile_heading Mentor Profile
        .well.div-1.div-4
          - if @profile
            %img.pull-left.image{:src => @profile.picture}
          .badge.badge-info.pull-right 1st
          .hero-unit
            %h2.heading.heading-1
              = @mentor.user.name
            - if @profile  
              %p
                = @profile.title
            %p &nbsp;
            - if @profile
              %div.btns
                %a.btn.btn-custom.pull-left{:href => @profile.linkedin_url}View Full Profile
            %h1.heading
          %span.badge.badge-info.interests
            = @mentor.developer_type
          %br
          %br
          %table.table
            %tbody
              %tr
                %td
                  %strong Email
                %td
                  %a{:href=> "mailto:#{@mentor.user.email}"}= @mentor.user.email
              %tr
                %td
                  %strong Mobile
                %td
                  - unless @mentor.phone.nil? 
                    = number_to_phone(@mentor.phone, area_code: true) 
              %tr
                %td
                  %strong City
                %td 
                  - unless @mentor.city.empty? 
                    = @mentor.city + ","
          
                  - unless @mentor.state.empty? 
                    = @mentor.state       
          .well.no-hover
            - unless @mentor.blog.blank? 
              %a{:href => @mentor.blog}
                .icon.icon-rss
            - unless @mentor.github.blank? 
              %a{:href => @mentor.github}
                .icon.icon-github
            - unless @mentor.linkedin.blank?
              %a{:href => @mentor.linkedin}
                .icon.icon-linkedin-sign
            - unless @mentor.twitter.blank?
              %a{:href=> "http://www.twitter.com/#{@mentor.twitter}"}
                .icon.icon-twitter-sign
    - if @profile
      .span4#skills
        .div-2
          .well#well_header
            %h1#profile_heading Skills & Expertise
          .well#well_backdrop
            %p.p-1
            - @profile.skills.sort().each do |skill|
              %span.badge.badge-info.skills
                = skill