.container.container-1
  .div.row-fluid
    .span12
      .div-2
        .well.div-1.div-3
          %h1#profile_heading Mentor Profile
        .well.div-1.div-4
          .badge.badge-info.pull-right 1st
          .hero-unit
            = image_tag @mentor.user.gravatar, id: "profile-picture"
            .container#mentor-profile-container
              %h2.heading.heading-1
                = @mentor.user.name 
              - unless @mentor.linkedin.empty? 
                %p#mentor-job-title
                  = @mentor.job_title
              %p &nbsp;
              - unless @mentor.linkedin.empty? 
                %div.btns
                  %a.btn.btn-custom.pull-left{:href => @mentor.linkedin}View Full Profile
          %span.badge.badge-info.interests
            = @mentor.developer_type
          %br
          %br
          %table.table
            %tbody
              %tr
                %td
                  %strong Email
                %td
                  %a{:href=> "mailto:#{@mentor.user.email}"}= @mentor.user.email
              %tr
                %td
                  %strong Mobile
                %td
                  - unless @mentor.phone.nil? 
                    = number_to_phone(@mentor.phone, area_code: true) 
              %tr
                %td
                  %strong City
                %td 
                  - unless @mentor.city.empty? 
                    = @mentor.city + ","
          
                  - unless @mentor.state.empty? 
                    = @mentor.state       
          .well.no-hover
            - unless @mentor.blog.blank? 
              %a{:href => @mentor.blog}
                .icon.icon-rss
            - unless @mentor.github.blank? 
              %a{:href => @mentor.github}
                .icon.icon-github
            - unless @mentor.linkedin.blank?
              %a{:href => @mentor.linkedin}
                .icon.icon-linkedin-sign
            - unless @mentor.twitter.blank?
              %a{:href=> "http://www.twitter.com/#{@mentor.twitter}"}
                .icon.icon-twitter-sign
    .span4#skills
      .div-2
        .well#well_header
          %h1#profile_heading Activity
        .well#well_backdrop
          .hero-unit
            %h5 Github Repos Recently Starred
            %ul
              %li
                = link_to "mkdir", root_path

                / - github = Github.new
                / = link_to github.activity.starring.starred(:user => "#{@mentor.github}").first.url do
                /   = github.activity.starring.starred(:user => "#{@mentor.github}").first.name
              %li
                = link_to "ativa", root_path

                / - github = Github.new
                / = link_to github.activity.starring.starred(:user => "#{@mentor.github}").first.url do
                /   = github.activity.starring.starred(:user => "#{@mentor.github}").last.name
          - unless @mentor.linkedin.blank?
            %h5{:style => "color:white"} Skills & Expertise
            %hr{:style => "border-top:0px"}
            %p.p-1
            - @mentor.skills.sort().each do |skill|
              %span.badge.badge-info.skills
                = skill