%h1 Listing hiring_partners

%table
  %tr
    %th User
    %th Linkedin
    %th Linkedin info
    %th Address
    %th Latitude
    %th Longitude
    %th Gmaps
    %th
    %th
    %th

  - @hiring_partners.each do |hiring_partner|
    %tr
      %td= hiring_partner.user
      %td= hiring_partner.linkedin
      %td= hiring_partner.linkedin_info
      %td= hiring_partner.address
      %td= hiring_partner.latitude
      %td= hiring_partner.longitude
      %td= hiring_partner.gmaps
      %td= link_to 'Show', hiring_partner
      %td= link_to 'Edit', edit_hiring_partner_path(hiring_partner)
      %td= link_to 'Destroy', hiring_partner, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hiring partner', new_hiring_partner_path
