.container.container-1
  .div.row-fluid
    .span12
      .div-2
        .well.div-1.div-3
          %h1#profile_heading Hiring Partner Profile
        .well.div-1.div-4
          .badge.badge-info.pull-right 1st
          .hero-unit
            = image_tag @hiring_partner.user.gravatar, id: "profile-picture"
            %h2.heading.heading-1
              = @hiring_partner.company_name
            %p &nbsp; 
            %div.btns
              %a.btn.btn-custom.pull-left{:href => @hiring_partner.linkedin}View Full Profile
            %h1.heading
          %span.badge.badge-info.interests
            
          %br
          %br
          %table.table
            %tbody
              %tr
                %td
                  %strong Website
                %td 
                  = @hiring_partner.website
              %tr
                %td
                  %strong Email
                %td
                  %a{:href=> "mailto:#{@hiring_partner.user.email}"}= @hiring_partner.user.email 
              %tr
                %td
                  %strong Address
                %td 
                  = @hiring_partner.address
