.container.container-1
  .div.row-fluid
    .span12
      .div-2
        .well.div-1.div-3
          %h1#profile_heading Hiring Partner Profile
        .well.div-1.div-4
          .badge.badge-info.pull-right 1st
          .hero-unit
            = image_tag @hiring_partner.user.gravatar, id: "profile-picture"
            .container#hiring-partner-profile-container
              %h2.heading.heading-1
                = @hiring_partner.name
              %p &nbsp; 
              %div.btns
                %a.btn.btn-custom.pull-left{:href => @hiring_partner.linkedin}View Full Profile
          %span.badge.badge-info.interests
            = @hiring_partner.industry
          %span.badge.badge-info.interests
            = @hiring_partner.company_type
          %span.badge.badge-info.interests
            = @hiring_partner.company_size
          %br
          %br
          %table.table
            %tbody
              %tr
                %td
                  %strong Founded
                %td 
                  = @hiring_partner.founded
              %tr
                %td
                  %strong Website
                %td 
                  %a{:href => "#{@hiring_partner.website}"}= @hiring_partner.website
              %tr
                %td
                  %strong Email
                %td
                  %a{:href=> "mailto:#{@hiring_partner.user.email}"}= @hiring_partner.user.email 
              %tr
                %td
                  %strong Address
                %td 
                  = @hiring_partner.address
    .span4#skills
      .div-2
        .well#well_header
          %h1#profile_heading Activity
        .well#well_backdrop
          .hero-unit
            %h5 Description
            = @hiring_partner.description
               
