%p#notice= notice

%p
  %b User:
  = @hiring_partner.user
%p
  %b Linkedin:
  = @hiring_partner.linkedin
%p
  %b Linkedin info:
  = @hiring_partner.linkedin_info
%p
  %b Address:
  = @hiring_partner.address
%p
  %b Latitude:
  = @hiring_partner.latitude
%p
  %b Longitude:
  = @hiring_partner.longitude
%p
  %b Gmaps:
  = @hiring_partner.gmaps

= link_to 'Edit', edit_hiring_partner_path(@hiring_partner)
\|
= link_to 'Back', hiring_partners_path
