= link_to "", root_path, :class => 'brand'
%div.nav-collapse.collapse
  %ul.nav
    - if user_signed_in?
      %li
        = link_to 'Admin', rails_admin_path
    - if user_signed_in?
      %li
        = link_to 'Directory', root_path
  - if user_signed_in?
    %div.btn-group.pull-right
      = link_to root_path, class: 'btn dropdown-toggle', :'data-toggle' => 'dropdown' do
        - unless current_user.student.nil?
          = image_tag(profile_image_for_user(current_user), class: "user_pic")
        = current_user.full_name
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to '<i class="icon-wrench"></i> Account Settings'.html_safe, edit_user_registration_path
        - unless current_user.student.nil?
          %li.divider
            %li
              = link_to '<i class="icon-user"></i> Edit Profile'.html_safe, edit_student_path(current_user.student.id)
        %li.divider
          %li
            = link_to '<i class="icon-power-off"></i> Logout'.html_safe, destroy_user_session_path, :method=>'delete'

